.Parent {
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  justify-content: center;
}

.positive,
.negative,
.center-content {
  border-radius: 3px;
  text-align: center;
  color: red;
  width: 50px;
  font-size: xx-large;
}
.center-content {
  color: blue;
}

.text-content {
  display: flex;
  text-align: left;
  color: purple;
  font-size: xx-large;
}