.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mahadev {
  display: flex;
  /* !relative karon  ami mahadev ke er upr oi div ke fixed rakhbo  */
  position:relative;
  height: 100vh;
  width: 100%;
  /* object-fit: cover; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-intro {
  display:flex;
  top:65%;
  left:20%;
  /* !relative karon  ami eita ke fixed rakhbo  */
  position: absolute;
  font-weight: 600;
  color: black;
}

.App-intro :hover{
 font-size: x-large;
 animation: fadeIn 3s;
 color : red;
}
