.Parent {
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  justify-content: center;
}
.header{
  display: flex;
  justify-content: center;
  color:brown
}
.x{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:5rem;
}
.positive,
.negative,
.center-content {
  border-radius: 3px;
  text-align: center;
  color: red;
  width: 50px;
  font-size: xx-large;
}
.center-content {
  color: blue;
}

.text-content {
  display: flex;
  text-align: left;
  padding-top: 30px;
  justify-content: center;
  color: purple;
  font-size: xx-large;
}